/* CSS BY Shereef Younis */





/* IMPORTED FONTS */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');





/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/* ROOT VARIABLES */
:root {
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;

    --font: 'Playfair Display';
}





/* GLOBAL STYLES (mobile first/small) */


/* Font */
h1, h2, p, a, li{
    font-family: var(--font);
}


/* Making the heading text abit bold, allowing them to popout more */
h2 {
    font-weight: 500;
}

p {
    font-weight: 250;
}


/* Section Line (Lines between sections)*/
.section-line {
    border: 0;
    height: 2px;
    background-color: var(--champagne-gold);
    margin: 25px 0 30px 0;
}


/* Body */
body{
    width: 100%;
}


/* Header */
header {
    text-align: center;
    background-color: var(--midnight-blue);
    padding-bottom: 20px;
}

header img {
    width: 150px;
    margin: 20px 0 20px 0;
}

header h1 {
    color: var(--soft-white);
    font-size: 3.2em;
    font-weight: bold;
    margin-bottom: 20px;
}

header p {
    color: var(--soft-white);
    font-style: italic;
}


/* Navigation */
nav ul {
    background-color: var(--champagne-gold);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding: 12px 0;
}

nav a {
    color: var(--midnight-blue);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}


/* Main */
main {
    background-color: var(--linen);
    padding: 0 25px 0 25px;
}


/* About Us Section */
#about-us {
    color: var(--midnight-blue);
    padding-top: 50px;
}

#about-us h2 {
    font-size: 2em;
    padding-bottom: 10px;
}

#about-us p {
    color: var(--dark-charcoal);
    line-height: 1.5;
}


/* Offerings Section */
#offerings h2 {
    color: var(--midnight-blue);
    font-size: 2em;
    padding-bottom: 20px;
}

#offerings section {
    background-color: var(--olive-green);
    color: var(--soft-white);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    line-height: 1.5;

    /* Border shading effects */
    box-shadow: 0 2px 8px var(--dark-charcoal);
}

#offerings section h2 {
    color: var(--soft-white);
    font-size: 1.6em;
    padding-bottom: 0px;
    font-weight: bold;
}

#offerings section p {
    color: var(--soft-white);
}

#offerings section ul {
    list-style-type: disc;
    list-style-position: inside;
    padding: 5px 0 5px 0;
}


/* Gallery Section */
#gallery h2 {
    color: var(--midnight-blue);
    font-size: 2em;
    padding-bottom: 10px;
}

#gallery p {
    color: var(--dark-charcoal);
    line-height: 1.5;
    padding-bottom: 20px;
}

#gallery .gallery-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
    padding-bottom: 20px;
}

#gallery .gallery-container > div {
    background-color: var(--soft-white);
    border-radius: 8px;
    box-shadow: 0 2px 8px var(--dark-charcoal);
}

#gallery .gallery-container img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

#gallery .gallery-container p {
    color: var(--dark-charcoal);
    font-style: italic;
    padding: 5px 0 10px 0;
    font-size: 0.9em;
}

#gallery .full-gallery {
    display: grid;
    grid-template-columns: 1fr;
    color: var(--soft-white);
    background-color: var(--olive-green);
    text-decoration: none;
    padding: 15px 30px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
}


/* Footer Section */
footer {
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    text-align: center;
    padding: 80px 0 50px 0;

    display: grid;
    grid-template-columns: 1fr;
}

footer p, footer a {
    margin-bottom: 10px;
}

footer a {
    color: var(--champagne-gold);
    text-decoration: none;
    font-weight: bold;
}

footer .social-media {
    margin-top: 50px;
}





/* MEDIA QUERY (medium) */
@media screen and (min-width: 600px) {
    #offerings {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 20px;
        
    }

    #offerings h2 {
        grid-column: 1 / -1;
    }
    
    #offerings-one {
        grid-column: 1;
    }
    
    #offerings-two {
        grid-column: 2;
    }
    
    #offerings-three {
        grid-column: 1 / -1;
    }

    #gallery .gallery-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    #gallery .gallery-container img {
        height: 300px;
        object-fit: cover;
    }
}





/* MEDIA QUERY (large) */
@media screen and (min-width: 900px) {
    #gallery .gallery-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 15px;
    }

    #gallery .gallery-container .image-one {
        grid-column: 1;
        grid-row: 1;
    }

    #gallery .gallery-container .image-two {
        grid-column: 2;
        grid-row: 1;
    }

    #gallery .gallery-container .image-three {
        grid-column: 3;
        grid-row: 1;
    }

    #gallery .gallery-container .image-four {
        grid-column: 1;
        grid-row: 2;
    }

    #gallery .gallery-container .image-five {
        grid-column: 2;
        grid-row: 2;
    }

    #gallery .gallery-container img {
        height: 300px;
        object-fit: cover;
    }
}